default: &default
  add_on_name: bizside_test_app
  app_host: localhost
  acl:
    enabled: true
  db:
    dump:
      backup_dir: /tmp/bizside_test_app/db_dump
  jod_converter:
    enabled: true
  log:
    backup:
      backup_dir: /var/bizside_test_app/backup
      crontab: '0 0 * * *'
    env: 'test'
  mail_from: from@example.com
  prefix: /bizside_test_app
  redmine:
    api_key: 'testtest'
  shibboleth:
    path_enabled: '/'
    path_disabled:
      - '/api'
      - '/assets'
  user_agent:
    enabled: true
  warning_validation:
    enabled: true
  file_uploader:
    #extension_whitelist_enabled: （Bizsideのホワイトリストをする場合true。falseはデフォルトで拡張子制限なし。）
    #api_enabled: (APIでポータルの拡張子一覧と連携するかどうか。falseのときはファイルから読み込まれる。)
    #extensions_file_path: （アップロード可能拡張子一覧のYAMLファイルのパス。指定なしの場合はbizside.gem内のデフォルトを使用）
  within_bizside_namespace: false
production:
  <<: *default

development:
  <<: *default
  active_record_logger:
    enabled: false

test:
  <<: *default
  cucumber:
    default_wait_time: 15
    show_url_on_screenshot: true
